<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CreateRecommendationForm</title>
</head>
<body>
<div th:fragment="createRecommendationForm">
    <div class="modal fade" id="createRecommendationModal" tabindex="-1" role="dialog" aria-labelledby="createRecommendationModalTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRecommendationModalTitle">Create new recommendation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <ul class="nav nav-pills mb-3" id="pills-tab-category" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-book-tab" data-toggle="pill" href="#pills-book"
                                   role="tab" aria-controls="pills-book" aria-selected="true">Book</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
                                   aria-controls="pills-video" aria-selected="false">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-blogpost-tab" data-toggle="pill" href="#pills-blogpost"
                                   role="tab" aria-controls="pills-blogpost" aria-selected="false">Blogpost</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-podcast-tab" data-toggle="pill" href="#pills-podcast"
                                   role="tab" aria-controls="pills-podcast" aria-selected="false">Podcast</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-book" role="tabpanel"
                                 aria-labelledby="pills-book-tab">
                                <form method="POST" th:action="@{/books}" th:object="${bookRecommendation}" id="createBookForm">
                                <div class="form-group">
                                    <label for="inputBookTitle">Title</label>
                                    <input type="text" name="title" class="form-control" id="inputBookTitle" placeholder="Enter title" th:field="*{recommendation.title}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.title')}" th:errors="*{recommendation.title}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookAuthor">Author</label>
                                    <input type="text" name="author" class="form-control" id="inputBookAuthor" placeholder="Enter author" th:field="*{author}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookIsbn">ISBN</label>
                                    <input type="text" name="isbn" class="form-control" id="inputBookIsbn" placeholder="Enter ISBN" th:field="*{isbn}" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookDescription">Description</label>
                                    <textarea type="text" rows="3" name="description" class="form-control" id="inputBookDescription"  th:field="*{recommendation.description}" placeholder="Enter description"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.description')}" th:errors="*{recommendation.description}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label class="d-block" for="inputBookTags">Tags</label>
                                    <input type="text" name="tags" class="form-control" id="inputBookTags" th:field="*{recommendation.rawTags}" placeholder="Enter tags" data-role="tagsinput" th:errorclass="is-invalid"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.rawTags')}" th:errors="*{recommendation.rawTags}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookPrerequisiteCourses">Prerequisite courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                    <select multiple="multiple" name="prerequisiteCourses" th:field="*{recommendation.prerequisiteCourses}" class="form-control" id="inputBookPrerequisiteCourses">
                                        <option th:each="course: ${courses}"
                                                th:value="${{course}}"
                                                th:text="${course.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputBookRelatedCourses">Related courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                    <select multiple="multiple" name="relatedCourses" th:field="*{recommendation.relatedCourses}" class="form-control" id="inputBookRelatedCourses">
                                        <option th:each="course: ${courses}"
                                                th:value="${{course}}"
                                                th:text="${course.name}"></option>
                                    </select>
                                </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                                <form method="POST" th:action="@{/videos}" th:object="${videoRecommendation}" id="createVideoForm">
                                    <div class="form-group">
                                        <label for="inputVideoTitle">Title</label>
                                        <input type="text" name="title" class="form-control" id="inputVideoTitle" placeholder="Enter title" th:field="*{recommendation.title}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.title')}" th:errors="*{recommendation.title}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVideoAuthor">Author</label>
                                        <input type="text" name="author" class="form-control" id="inputVideoAuthor" placeholder="Enter author" th:field="*{author}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVideoUrl">URL</label>
                                        <input type="url" name="url" class="form-control" id="inputVideoUrl" th:field="*{url}" placeholder="Enter URL" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVideoDescription">Description</label>
                                        <textarea type="text" rows="3" name="description" class="form-control" id="inputVideoDescription" th:field="*{recommendation.description}" placeholder="Enter description"></textarea>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.description')}" th:errors="*{recommendation.description}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block" for="inputVideoTags">Tags</label>
                                        <input type="text" name="tags" class="form-control" id="inputVideoTags" th:field="*{recommendation.rawTags}" placeholder="Enter tags" data-role="tagsinput" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('recommendation.rawTags')}" th:errors="*{recommendation.rawTags}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVideoPrerequisiteCourses">Prerequisite courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="prerequisiteCourses" th:field="*{recommendation.prerequisiteCourses}" class="form-control" id="inputVideoPrerequisiteCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVideoRelatedCourses">Recommended courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="relatedCourses" th:field="*{recommendation.relatedCourses}" class="form-control" id="inputVideoRelatedCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-blogpost" role="tabpanel"
                                 aria-labelledby="pills-blogpost-tab">
                                <form method="POST" th:action="@{/blogposts}" th:object="${blogpostRecommendation}" id="createBlogpostForm">
                                    <div class="form-group">
                                        <label for="inputBlogpostTitle">Title</label>
                                        <input type="text" name="title" class="form-control" id="inputBlogpostTitle" placeholder="Enter title" th:field="*{recommendation.title}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.title')}" th:errors="*{recommendation.title}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostName">Name</label>
                                        <input type="text" name="name" class="form-control" id="inputBlogpostName" placeholder="Enter name" th:field="*{name}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostAuthor">Author</label>
                                        <input type="text" name="author" class="form-control" id="inputBlogpostAuthor" placeholder="Enter author" th:field="*{author}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostUrl">URL</label>
                                        <input type="url" name="isbn" class="form-control" id="inputBlogpostUrl" placeholder="Enter URL" th:field="*{url}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostDescription">Description</label>
                                        <textarea type="text" rows="3" name="description" class="form-control" id="inputBlogpostDescription" placeholder="Enter description" th:field="*{recommendation.description}" th:errorclass="is-invalid"></textarea>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.description')}" th:errors="*{recommendation.description}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block" for="inputBlogpostReleaseDate">Release date</label>
                                        <input type="date" name="releaseDate" class="form-control" id="inputBlogpostReleaseDate" placeholder="Enter release date" th:field="*{releaseDate}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block" for="inputBlogpostTags">Tags</label>
                                        <input type="text" name="tags" class="form-control" id="inputBlogpostTags" th:field="*{recommendation.rawTags}" placeholder="Enter tags" data-role="tagsinput" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('recommendation.rawTags')}" th:errors="*{recommendation.rawTags}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostPrerequisiteCourses">Prerequisite courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="prerequisiteCourses" th:field="*{recommendation.prerequisiteCourses}" class="form-control" id="inputBlogpostPrerequisiteCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBlogpostRelatedCourses">Recommended courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="relatedCourses" th:field="*{recommendation.relatedCourses}" class="form-control" id="inputBlogpostRelatedCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-podcast" role="tabpanel"
                                 aria-labelledby="pills-podcast-tab">
                                <form method="POST" th:action="@{/podcasts}" th:object="${podcastRecommendation}" id="createPodcastForm">
                                    <div class="form-group">
                                        <label for="inputPodcastTitle">Title</label>
                                        <input type="text" name="title" class="form-control" id="inputPodcastTitle" placeholder="Enter title" th:field="*{recommendation.title}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.title')}" th:errors="*{recommendation.title}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastName">Name</label>
                                        <input type="text" name="name" class="form-control" id="inputPodcastName" placeholder="Enter name" th:field="*{name}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastAuthor">Author</label>
                                        <input type="text" name="author" class="form-control" id="inputPodcastAuthor" placeholder="Enter author" th:field="*{author}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastUrl">URL</label>
                                        <input type="url" name="url" class="form-control" id="inputPodcastUrl" placeholder="Enter URL" th:field="*{url}" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastDescription">Description</label>
                                        <textarea type="text" rows="3" name="description" class="form-control" id="inputPodcastDescription" placeholder="Enter description" th:field="*{recommendation.description}" th:errorclass="is-invalid"></textarea>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.description')}" th:errors="*{recommendation.description}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block" for="inputPodcastReleaseDate">Release date</label>
                                        <input type="date" name="releaseDate" class="form-control" id="inputPodcastReleaseDate" placeholder="Enter release date" th:field="*{releaseDate}" th:errorclass="is-invalid"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block" for="inputPodcastTags">Tags</label>
                                        <input type="text" name="tags" class="form-control" id="inputPodcastTags" th:field="*{recommendation.rawTags}" placeholder="Enter tags" data-role="tagsinput" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('recommendation.rawTags')}" th:errors="*{recommendation.rawTags}">Error</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastPrerequisiteCourses">Prerequisite courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="prerequisiteCourses" th:field="*{recommendation.prerequisiteCourses}" class="form-control" id="inputPodcastPrerequisiteCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPodcastRelatedCourses">Recommended courses <a th:href="@{/courses}" class="">Missing?</a></label>
                                        <select multiple="multiple" name="relatedCourses" th:field="*{recommendation.relatedCourses}" class="form-control" id="inputPodcastRelatedCourses">
                                            <option th:each="course: ${courses}"
                                                    th:value="${{course}}"
                                                    th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>