<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>
<div th:fragment="header(active)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand" href="#">VINKKARI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${active == 'Home'} ? active : ''">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" th:classappend="${active == 'Recommendations'} ? active : ''">
                <a class="nav-link" href="/recommendations">Recommendations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0" action="/recommendations/search" method="POST">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="title"/>
            <button type="submit" class="btn btn-secondary" id="searchBtn">Search</button>
        </form>
    </div>
</nav>
</div>

</body>
</html>