html {
    min-height: 100%;
    position: relative;
}
body {
    padding-top: 1.5rem;
    margin-bottom: 80px;
}
.display-4 {
    font-size: 2.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    left: 0;
}
.navbar {
    margin-bottom: 20px;
}

.title-jumbotron {
    padding: 1rem;
}

.recommendation-tag {
    font-size: 1rem;
}