<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VINKKARI | Recommendations</title>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../static/css/bootstrap-tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}"/>
        <link rel="stylesheet" href="../static/css/recommendation_item_edit.css" th:href="@{/css/recommendation_item_edit.css}"/>
    </head>
    <body>
        <div class="container">

            <div th:replace="fragments/header :: header(active = 'Recommendations')"></div>
            <form method="post" id="editPodcastForm"
                  th:object="${podcastRecommendation}" th:action="@{/podcasts/edit}">
                <div class="jumbotron title-jumbotron">
                    <div class="mx-auto">
                        <h1 class="display-4"><input type="text" name="title" class="form-control title-input-form" id="inputPodcastTitle" placeholder="Enter title"  th:field="*{recommendation.title}" th:errorclass="is-invalid" />(<b th:text="*{recommendation.recommendationType}"></b>)</h1>
                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('recommendation.title')}" th:errors="*{recommendation.title}">Error</div>
                        <p class="lead">Created by <a href="#">Firstname Lastname</a></p>
                        <input type="text" th:value="${podcastRecommendation.recommendation.getTagsAsString()}" name="tags" class="form-control edit-input-form" id="inputRecommendationTags" placeholder="Enter tags" data-role="tagsinput"/>
                        <input type="hidden" name="id" th:field="*{id}"/>
                        <input type="hidden" name="recommendationId" th:field="*{recommendation.id}"/>
                    </div>
                </div>

                <hr class="my-4"/>

                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <b>Author:</b>
                        <input type="text" th:field="*{author}" name="author" class="form-control edit-input-form" id="inputPodcastAuthor" placeholder="Enter author" th:errorclass="is-invalid"/>
                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
                    </li>
                    <li class="list-group-item">
                        <b>URL:</b>
                        <input type="text" th:field="*{url}" name="isbn" class="form-control edit-input-form" id="inputPodcastUrl" placeholder="Enter URL" th:errorclass="is-invalid"/>
                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</div>
                    </li>
                    <li class="list-group-item">
                        <b>Release date:</b>
                        <input type="date" th:field="*{releaseDate}" name="releaseDate" class="form-control edit-input-form" id="inputPodcastReleaseDate" placeholder="Enter release date" th:errorclass="is-invalid"/>
                        <div class="invalid-feedback-edit" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Error</div>
                    </li>
                    <li class="list-group-item">
                        <b>Description:</b>
                        <textarea type="text" rows="3" name="description" class="form-control" id="inputPodcastDescription" placeholder="Enter description" th:field="*{recommendation.description}" th:errorclass="is-invalid"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('recommendation.description')}" th:errors="*{recommendation.description}">Error</div>
                    </li>
                    <li class="list-group-item"><b>Prerequisite courses:</b>
                        <select multiple="multiple" name="prerequisiteCourses" th:field="*{recommendation.prerequisiteCourses}" class="form-control" id="inputPodcastPrerequisiteCourses">
                            <option th:each="course: ${courses}"
                                    th:value="${{course}}"
                                    th:text="${course.name}"></option>
                        </select>
                    </li>
                    <li class="list-group-item"><b>Related courses:</b>
                        <select multiple="multiple" name="relatedCourses" th:field="*{recommendation.relatedCourses}" class="form-control" id="inputPodcastRelatedCourses">
                            <option th:each="course: ${courses}"
                                    th:value="${{course}}"
                                    th:text="${course.name}"></option>
                        </select>
                    </li>
                </ul>

                <button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
            </form>

        </div>
        <div th:replace="fragments/footer :: footer"></div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap-tagsinput.min.js" th:src="@{/js/bootstrap-tagsinput.min.js}"></script>
        <script src="../static/js/recommendation_item_edit.js" th:src="@{/js/recommendation_item_edit.js}"></script>
    </body>
</html>
