<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>VINKKARI | Recommendations</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/bootstrap-tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}"/>
    <link rel="stylesheet" href="../static/css/createRecommendationForm.css" th:href="@{/css/createRecommendationForm.css}"/>
    <link rel="stylesheet" href="../static/css/recommendation.css" th:href="@{/css/recommendation.css}"/>
</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: header(active='Recommendations')"></div>

    <div class="row">
        <div class="p-0 col-3 col-sm-3 col-md-2">
            <button type="button" id="openCreateFormBtn" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createRecommendationModal">Create</button>
        </div>
        <div class="p-0 d-none d-sm-block col-1 col-sm-3 col-md-7">
        </div>
        <div class="p-0 col-9 col-sm-6 col-md-3">
            <form th:action="@{/recommendations/search}" method="POST">
                <div class="input-group pl-3">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." id="titleInput" name="key"/>
                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>
                    <span class="input-group-btn"><button class="btn btn-primary" id="searchBtn" type="submit">Go!</button></span>
                </div>
            </form>
        </div>
    </div>



    <hr class="my-4"/>

    <div sec:authorize="isAnonymous()" >
        <div th:replace="fragments/recommendationList :: recommendations(recommendations=${recommendations})"></div>
    </div>


    <div sec:authorize="isAuthenticated()">
        <div th:replace="fragments/recommendationList :: userrecommendations(userrecommendations=${userRecommendations}, recommendations=${recommendations})"></div>
    </div>


</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/createRecommendationForm :: createRecommendationForm"></div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap-tagsinput.min.js" th:src="@{/js/bootstrap-tagsinput.min.js}"></script>
<script src="../static/js/recommendation.js" th:src="@{/js/recommendation.js}"></script>
<script src="../static/js/createRecommendationForm.js" th:src="@{/js/createRecommendationForm.js}"></script>


<script th:if="${#fields.hasErrors('${bookRecommendation.*}')}">
    $('#createRecommendationModal').modal('show');
    $('#pills-book-tab').tab('show')
</script>
<script th:if="${#fields.hasErrors('${videoRecommendation.*}')}">
    $('#createRecommendationModal').modal('show');
    $('#pills-video-tab').tab('show')
</script>
<script th:if="${#fields.hasErrors('${blogpostRecommendation.*}')}">
    $('#createRecommendationModal').modal('show');
    $('#pills-blogpost-tab').tab('show')
</script>
<script th:if="${#fields.hasErrors('${podcastRecommendation.*}')}">
    $('#createRecommendationModal').modal('show');
    $('#pills-podcast-tab').tab('show')
</script>



</body>
</html>
